@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif+Display:wght@100;700&display=swap');

/* ========================================
Table of Contents
===========================================

* 1. ROOT VARABLES
* 2. RESET VALUES
* 3. BODY && COMPOSITION
* 4. UTILITIES

===== BEGIN PAGE SPECIFIC =====

* 5. HEADER
* 6. HERO SECTION
* 7. ABOUT ME
* 8. MISSION STATEMENT
* 9. STRENGTHS
* 10. PREVIOUS WORK
* 11. FOOTER
* 12. TRANSITIONS & JS ANIMATIONS
* 13. DECORATIVE IMAGES
* 14. MEDIA QUERIES

===========================================
======================================== */

/* ====================[1]==================== */
/* ===== ROOT VARIABLES ===== */

:root {

    /* COLORS */
    --clr-brand-gradient: linear-gradient(90deg, hsl(194, 31%, 63%),  hsl(158, 48%, 59%));
    --clr-primary: hsl(158, 48%, 59%);
    
    --clr-black: hsl(200, 5%, 12%);
    --clr-white: hsl(158, 12%, 82%);
    --clr-white-10: hsl(158, 12%, 82%, 0.1);


    /* TYPOGRAPHY */
    /* FONT FAMILY */
    --ff-title: 'Noto Serif Display', serif;
    --ff-paragraph: 'Montserrat', sans-serif;;

    /* FONT WEIGHT */
    --fw-thin: 100;
    --fw-regular: 500;
    --fw-bold: 700;

    /* FONT SIZE */
    /* BODY */
    --fs-paragraph: 1.25rem;
    --fs-h1: 3.063rem;
    --fs-h2: 2.438rem;
    --fs-h3: 1.938rem;
    --fs-h4: 1.563rem;
    --fs-h5: 1.438rem;

    /* BUTTONS */
    --fs-resume: 1.313rem;
    --fs-work: 1.5rem;

    /* SPACING */
    --space-100: 1rem;
    --space-150: 1.5rem;
    --space-250: 2.5rem;
    --space-800: 8rem;

}



/* ====================[2]==================== */
/* ===== RESET VALUES ===== */

/* Box sizing rules */
/* Remove default margin & padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 2;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a:is(:hover, :focus) {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ====================[3]==================== */
/* ===== BODY && COMPOSITION ===== */

body {
    font-family: var(--ff-paragraph);
    font-weight: var(--fw-regular);
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-size: var(--fs-paragraph);
    overflow-x: hidden;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
    max-width: 100%;
}

main section:not(.hero) {
    padding-block: 6rem;
}

.desktop {
    display: block;
}

.fixed {
    position: fixed;
}

.mobile {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.fullscreen {
    height: auto;
}

.side-margins {
    margin-inline: var(--space-100);
}

/* ====================[4]==================== */
/* ===== UTILITIES ===== */

/* TYPOGRAPHY */

.brand-font-h1 {
    font-family: var(--ff-title);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    line-height: 1.5;
}

.brand-font-h2 {
    font-family: var(--ff-title);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.brand-font-h3 {
    font-family: var(--ff-title);
    font-size: var(--fs-h3);
    font-weight: var(--fw-thin);
}

.brand-font-h4 {
    font-family: var(--ff-title);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}

.brand-font-h5 {
    font-family: var(--ff-title);
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
}

.caps {
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

/* COLORS */

.clr-brand-primary {
    color: var(--clr-primary);
}

.clr-brand-black {
    color: var(--clr-black);
}

.clr-brand-white {
    color: var(--clr-white);
}

/* BACKGROUND COLORS */

.bg-brand-gradient {
    background-image: var(--clr-brand-gradient);
}

.bg-brand-black {
    background-color: var(--clr-black);
}

/* ====================[5]==================== */
/* ===== HEADER ===== */

header {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-inline: var(--space-100);
    transition: background-color 0.35s ease;
}

.headerActive {
    background:hsl(200, 5%, 12%, 0.7);
}

.logo {
    margin-block: var(--space-100);
}

.nav_toggle {
    display: none;
}

.primary_nav {
    place-items: center;
    gap: var(--space-100);
    font-size: 1rem;
}

.primary_nav a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    border-image: var(--clr-brand-gradient) 2;
}

.header_resume {
    padding: 0.5rem 2rem;
    font-size: var(--fs-resume);
}

.resume {
    position: relative;
}

.resume::before {
    content: '';
    height: 100%;
}

/* ====================[6]==================== */
/* ===== HERO ===== */

.hero {
    position: relative;
    isolation: isolate;
    background-image: url("../images/Portfolio-bckgrnd.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.filter {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent , var(--clr-black));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.jumbo {
    flex-direction: column;
    gap: var(--space-150);
    padding-block: 6rem;
    padding-inline: var(--space-100);
}

.verse {
    margin-bottom: var(--space-150);
}

.hero_resume {
    padding: var(--space-100) 4rem;
    font-size: var(--fs-resume);
    margin-inline: auto;
    box-shadow: 0 10px 20px hsl(158deg 48% 59% / 10%), 
                0 30px 35px hsl(158deg 48% 59% / 5%);
}


/* ====================[7]==================== */
/* ===== ABOUT ME ===== */

.tag {
    width: fit-content;
    padding: 0.5rem 4rem 0.5rem var(--space-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
}

h2.brand-font-h3 {
    margin-bottom: 3rem;
}

.about_me {
    flex-direction: column;
    border-width: 8px 0;
    border-style: solid;
    border-image: var(--clr-brand-gradient) 1;
}

.self {
    max-width: 15rem;
    margin: var(--space-150) auto;
}

.about_me p {
    margin-block-end: var(--space-150);
    margin-inline: auto;
    max-width: 50.5em;
}


/* ====================[8]==================== */
/* ===== MISSION STATEMENT ===== */

.mission p.brand-font-h2:nth-of-type(1) {
    margin-bottom: -1rem;
}

.mission > p {
    margin-top: var(--space-150);
    max-width: 40.5em;
}


/* ====================[9]==================== */
/* ===== STRENGTHS ===== */

.strengths {
    text-align: center;
}

.strengths > p {
    text-align: justify;
    margin-block: var(--space-150) var(--space-250);
}

.accordions {
    flex-direction: column;
    gap: var(--space-150);
    max-width: 31em;
    margin-inline: auto;
}



label {
    display: flex;
    justify-content: space-between;
    padding: var(--space-100);
    letter-spacing: 2px;
    cursor: pointer;
}

label[for="optimist"]::before {
    content: '1';
}

label[for="empathizer"]::before {
    content: '2';
}

label[for="believer"]::before {
    content: '3';
}

label[for="thinker"]::before {
    content: '4';
}

label[for="peacekeeper"]::before {
    content: '5';
}

label::before {
    color: var(--clr-white);
    background: var(--clr-black);
    border-radius: 50%;
    padding-inline: var(--space-100);
}

label::after {
    content: "\276F";
    transition: all 0.35s;
}

.str_toggle:checked ~ label::after {
    rotate: 90deg;
}

.str_info {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    padding: 0 var(--space-100);
    background:hsl(200, 5%, 12%, 0.4);
    transition: 0.5s ease;
}

.str_info ul {
    padding-left: var(--space-150);
}

.str_toggle:checked ~ .str_info {
    max-height: 100vh;
    padding: var(--space-100);
}

.str_info p:last-of-type {
    margin-top: var(--space-150);
}

/* ====================[10]==================== */
/* ===== PREVIOUS WORK ===== */

.work {
    flex-direction: column;
    gap: var(--space-150);
    text-align: center;
}

.work_examples {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--space-150);
}

.work_example {
    text-align: center;
    flex-direction: column;
    flex: 1 1 0;
    gap: var(--space-150);
    max-width: 36em;
}

.work_btn {
    font-family: var(--ff-title);
    font-size: var(--fs-work);
    font-weight: var(--fw-bold);
    padding-block: var(--space-100);
}

/* ====================[11]==================== */
/* ===== FOOTER ===== */

footer {
    background-image: url(../images/waves.svg);
    background-size: cover;
    height: 10rem;
    padding-top: 2rem;
    place-content: center;
    padding-bottom: 1rem;
    place-items: center;
    gap: 1rem;
}


/* ====================[12]==================== */
/* ===== ANIMATIONS && JS TRANSITIONS ===== */

/* === NAV COLOR === */

.primary_nav a {
    transition: color 0.35s ease;
}

.primary_nav a:is(:hover, :focus) {
    color: var(--clr-primary);
}

/* === FADE IN === */

.fadeIn {
    opacity: 0;
    animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
    100% {opacity: 1;}
}

.scrollFade {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fadeActive {
    opacity: 1;
}

/* === TAG TRANSITION === */

.tag {
    transform: translateX(-99%);
    transition: transform 700ms ease;
}

.tagActive {
    transform: translateX(0);
}

/* STRENGTHS INFO TRANSITIONS */

label {
    transition: background-color 0.35s ease-in;
}

label:hover {
    background:hsl(200, 5%, 12%, 0.2);
}

.str_toggle:focus ~ label {
    background:hsl(200, 5%, 12%, 0.2);
}

.str_toggle:checked ~ label {
    background:hsl(200, 5%, 12%, 0.2);
}

.slideUp {
    transform: translateY(10rem);
    opacity: 0;
    transition: opacity 500ms ease, transform 400ms ease;
}

.slideActive {
    opacity: 1;
    transform: translateY(0);
}

/* ====================[13]==================== */
/* ===== DECORATIVE CONTENT ===== */

.mission_cta {
    position: relative;
    overflow: hidden;
}

.decorative {
    position: absolute;
    font-size: 15rem;
    z-index: -1;
    right: 0;
    opacity: 0.03;
    display: none;
}

.decorative:nth-of-type(2) {
    height: 27%;
    margin-block: auto;
    inset: 0;
}

.decorative:nth-of-type(3) {
    bottom: 0;
    line-height: 1;
}


/* ====================[14]==================== */
/* ===== MEDIA QUERIES ===== */

/* 667 HEIGHT */
@media (min-height: 41.6875em) {
    .fullscreen {
        height: calc(100dh + 1rem);
        height: calc(100dvh + 1rem);
        height: calc(100svh + 1rem);
    }

    .hero {
        display: grid;
        place-content: center;
    }

    .jumbo {
        padding-block: 0;
    }
}

/* 902 MAX WIDTH PX */
@media (max-width: 56.375em) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .primary_nav {
        position: fixed;
        inset: 0 0 0 25%;
        flex-direction: column;
        place-content: center;
        gap: 2rem;
        background: var(--clr-black);
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }

    .primary_nav[data-visible="true"]::before {
        content: '';
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        background: hsl(200, 5%, 12%, 0.9);
        position: absolute;
        transform: translateX(-99%);
    }

    .primary_nav[data-visible="true"] {
        transform: translateX(0);
    }

    .nav_toggle {
        display: block;
    }

    button {
        border: none;
        background: none;
        position: absolute;
        right: 0;
        z-index: 1000;
        margin-top: var(--space-100);
        margin-right: var(--space-100);
    }
    
    .hamburger .line {
        transition: 0.5s;
        transform-origin: center;
    }
    
    button[aria-expanded="true"] :is(.top, .bottom) {
        y: 14;
    }
    
    button[aria-expanded="true"] .top {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    button[aria-expanded="true"] .bottom {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    button[aria-expanded="true"] .middle {
        opacity: 0;
        transform: translateX(2.5rem);
    }

}

/* START MIN WIDTH */
/* 722 PX */
@media (min-width: 45.125em) {

    .side-margins {
        margin-inline: var(--space-250);
    }

    header {
        padding-inline: var(--space-250);
    }

    .logo {
        margin-block: var(--space-250);
    }

    .jumbo {
        padding-inline: var(--space-250);
    }

    .hero_resume {
        padding: var(--space-100) 7rem;
    }

    .tag {
        padding: 0.5rem 4rem 0.5rem var(--space-250);
    }

    footer {
        place-items: end;
        height: 12rem;
        padding-bottom: 2rem;
    }

}

/* 1080 PX */
@media (min-width: 67.5em) {

    :root {
        --fs-h1: 4.188rem;
        --fs-h2: 3.188rem;
        --fs-h3: 2.375rem;
        --fs-h4: 1.75rem;
        --fs-work: 2rem;
    }

    main section:not(.hero) {
        gap: 16rem;
    }
    
    .side-margins {
        margin-inline: var(--space-800);
    }

    h2.brand-font-h3 {
        margin-bottom: 4.5rem;
    }

    .primary_nav {
        gap: var(--space-250);
    }

    .hero_resume {
        margin-top: var(--space-100);
    }

    .tag {
        padding: 0.5rem 4rem 0.5rem var(--space-800);
    }

    .self {
        max-width: 100%;
        margin-block: 3.5rem;
    }

    .about_me p:nth-of-type(3) {
        margin-bottom: 3.5rem;
    }

    .decorative {
        display: block;
    }

    .work_examples {
        gap: var(--space-250);
    }

    .resume,
    .work_btn {
        position: relative;
    }

    .resume::before,
    .work_btn::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        height: 100%;
        inset: 0;
        transition: width .35s ease-in, color 1s;
    }

    .resume::before,
    .work_btn::before {
        background-image: var(--clr-brand-gradient);
    }

    .resume:is(:hover, :focus),
    .work_btn:is(:hover, :focus) {
        color: var(--clr-black);
    }

    .resume:is(:hover, :focus)::before,
    .work_btn:is(:hover, :focus)::before {
        width: 100%;
    }
}

/* 1200 PX */
@media (min-width: 75em) {
    :root {
        --fs-h1: 5.625rem;
        --fs-h2: 4rem;
        --fs-h3: 2.813rem;
        --fs-h4: 2rem;
        --fs-h5: 1.438;
    }

    .primary_nav {
        gap: 5rem;
    }

    .strengths > p {
        text-align: center;
        max-width: 60em;
        margin-inline: auto;
        margin-block: var(--space-150) 3rem;
    }

    .work_examples {
        flex-direction: row;
        align-items: start;
        gap: 5.5rem;
    }
}

/* 1440 PX */
@media (min-width: 90em) {
}

