@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poiret+One&display=swap');

/* ========================================
Table of Contents
===========================================

* 1. ROOT VARABLES
* 2. RESET VALUES
* 3. BODY && COMPOSITION
* 4. UTILITIES

===== BEGIN PAGE SPECIFIC =====

* 5. HOME
* 6.
* 7.
* 8.
* 9. MEDIA QUERIES

===========================================
======================================== */

/* ====================[1]==================== */
/* ===== ROOT VARIABLES ===== */

:root {

    /* COLORS */
    --clr-accent-green: hsl(112 19% 57%);
    --clr-accent-gray: hsl(0 0% 25%);
    --clr-neutral-tan: hsl(48 24% 84%);
    --clr-neutral-white: hsl(0, 0%, 86%);

    /* TYPOGRAPHY */
    /* FONT FAMILY */
    --ff-title: 'Abril Fatface', cursive;
    --ff-primary: 'Poiret One', sans-serif;

    /* FONT WEIGHT */
    --fw-regular: 400;
    --fw-semibold: 600;

    /* FONT SIZE */
    --fs-title: clamp(4.5rem, 9vw, 8rem);
    --fs-heading: clamp(3rem, 8vw, 5rem);
    --fs-subtitle: clamp(1.65rem, 3vw, 3rem);
    --fs-reg: clamp(1.45rem, 2vw, 2.15rem);
    --fs-small: clamp(1.15rem, 2vw, 1.75rem);

    /* SPACING */
    --space-1: 1rem;
}



/* ====================[2]==================== */
/* ===== RESET VALUES ===== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a:is(:hover, :focus) {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ====================[3]==================== */
/* ===== BODY && COMPOSITION ===== */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-semibold);
    background-color: var(--clr-neutral-tan);
    color: var(--clr-accent-gray);
    font-size: var(--fs-reg);
    margin: 0 1.15rem;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.grid-cta {
    display: grid;
    gap: var(--space-1);
}

.flex-cta {
    display: flex;
    gap: var(--space-1);
    flex-wrap: wrap;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-screen {
    min-height: 100vh;
}

/* ====================[4]==================== */
/* ===== UTILITIES ===== */

/* TYPOGRAPHY */
/* FONT FAMILY */
.ff-title {
    font-family: var(--ff-title);
    font-weight: var(--fw-regular);
}

/* FONT SIZE */

.fs-xlg {
    font-size: var(--fs-title);
}

.fs-lg {
    font-size: var(--fs-heading);
}

.fs-md {
    font-size: var(--fs-subtitle);
}

.fs-sm {
    font-size: var(--fs-small);
}

.txt-caps {
    text-transform: uppercase;
}

/* TEXT ALIGN */

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

/* COLORS */

.clr-accent-green {
    color: var(--clr-accent-green);
}

.clr-accent-gray {
    color: var(--clr-accent-gray);
}

.clr-neutral-tan {
    color: var(--clr-neutral-tan);
}

.clr-neutral-white {
    color: var(--clr-neutral-white);
}

/* BACKGROUND COLORS */
.bg-clr-accent-green {
    background: var(--clr-accent-green);
}

.bg-clr-accent-gray {
    background: var(--clr-accent-gray);
}

.bg-clr-neutral-tan {
    background: var(--clr-neutral-tan);
}

/* SPACING */

.padding-16 {
    padding: var(--space-1);
}

/* ====================[5]==================== */
/* ===== HOME ===== */

/* BUTTONS */

.btn-cta {
    justify-content: center;
    margin: 0.5rem;
}

.btn {
    width: 100%;
    text-align: center;
    max-width: 17rem;
    margin-bottom: 0.5rem;
    border: solid var(--clr-accent-green);
    background: var(--clr-accent-green);
    color: var(--clr-neutral-tan);
    box-shadow: 6px 6px var(--clr-accent-gray);
    padding: 0.5rem;
    width: 100%;
    font-size: 1.25rem;
    text-decoration: none;
}

/* VERSE */
.verse__cta {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.verse {
    text-align: right;
    margin-top: 1rem;
}

/* ====================[]==================== */
/* ===== ABOUT ME ===== */

body.about {
    margin: 0;
}

section.am {
    padding: 3.25rem 1.15rem 2.5rem;
}

/* ABSOLUTE TAG */

.tag {
    width: 100%;
    max-width: 19rem;
    top: 3rem;
    left: 0;
    padding: 0.5rem 2rem;
}

/* MISSION STATEMENT */

#mission {
    z-index: -2;
}

.ms__accent {
    color: hsl(48 24% 84% / 0.2);
    z-index: -1;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    display: none;
    gap: 0;
}

.integrity {
    right: 65%;
}

.compassion {
    right: 40%;
}

.excellence {
    right: 3%;
}

div.ms {
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

/* STRENGTHS */

.str {
    flex-direction: column;
    margin-top: 3.5rem;
}

.str h2 {
    margin: 1rem 0;
    text-align: center;
}

.str a:is(:hover, :focus) {
    color: var(--clr-accent-gray);
}

svg {
    display: block;
    width: 100%;
    height: min-content;
}

.str > .flex-cta {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.str ol {
    padding: 0;
    margin-bottom: 0;
}

.str__cat {
    display: grid;
    font-family: var(--ff-title);
    color: var(--clr-accent-green);
    letter-spacing: 3px;
    max-width: 29rem;
    margin: 0 auto;
    font-weight: normal;
}

.str__cat .flex-cta {
    align-items: center;
    background: var(--clr-accent-gray);
}

.str__pos {
    color: var(--clr-accent-gray);
    background: var(--clr-accent-green);
    display: grid;
    height: 25px;
    width: 25px;
    place-items: center;
    border-radius: 50%;
}

.str__pos span {
    position: relative;
    left: 1px;
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--fw-semibold);
}

.arrow {
    max-width: 1rem;
    stroke-width: 30;
    right: 1rem;
    top: 1.3rem;
    stroke: var(--clr-accent-green);
}

.str__info {
    color: var(--clr-neutral-tan);
    background: var(--clr-accent-gray);
    padding: var(--space-1);
    letter-spacing: 2px;
    max-height: 0;
    transform: translateY(-3rem);
    z-index: -1;
    font-family: var(--ff-primary);
}

.str__info ul {
    list-style: disc;
    margin-top: 0.5rem;
}

input[type="checkbox"] {
    z-index: 1;
    right: 1rem;
    top: 1.6rem;
    cursor: pointer;
    opacity: 0; 
}

input[type="checkbox"]:focus-visible + .arrow {
    border: solid 2px;
}       

input[type="checkbox"]:checked ~ .str__info:not(.not__me) {
    margin-bottom: 1rem;
}

/* PREVIOUS WORK */

.works h2 {
    margin: 4.5rem 0 1rem;
}

.plans {
    flex-wrap: wrap;
    gap: 2rem;
}

.plan,
.plan__info {
    justify-content: center;
    gap: 2rem;
}

.slide__cta {
    width: 100%;
    max-width: 19.25rem;
    position: relative;
    padding-top: 28rem;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 27.125rem;
}


/* ====================[7]==================== */
/* ===== ANIMATIONS && JS TRANSITIONS ===== */

/* === FADE IN === */

.fadeIn {
    opacity: 0;
    animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
    100% {opacity: 1;}
}

.scrollFade {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fadeActive {
    opacity: 1;
}

/* === TAG TRANSITION === */

.tag {
    transform: translateX(-100%);
    transition: transform 700ms ease;
}

.tagActive {
    transform: translateX(0);
}

/* STRENGTHS INFO TRANSITIONS */

.slideUp {
    transform: translateY(100%);
    transition: transform 150ms ease;
}

.slideActive {
    transform: translateY(0);
}

.arrow {
    transition: transform 250ms linear,
    stroke 100ms linear;
}

input[type="checkbox"]:checked + .arrow {
    transform: rotate(-90deg);
    stroke: var(--clr-accent-gray);
}

.str__cat .flex-cta {
    transition: background-color 250ms linear;
}

input[type="checkbox"]:checked ~ .flex-cta {
    background-color: var(--clr-accent-green);
}

.str__pos {
    transition: background-color 250ms linear,
    color 350ms linear;
}

input[type="checkbox"]:checked ~ .flex-cta > .str__pos {
    background-color: var(--clr-accent-gray);
    color: var(--clr-accent-green);
}

.str__pos p {
    transition: color 350ms linear;
}

input[type="checkbox"]:checked ~ .flex-cta > .str__pos + p {
    color: var(--clr-accent-gray);
}

.str__info {
    transition: transform 350ms ease-in-out,
                max-height 350ms ease-out;
}

input[type="checkbox"]:checked ~ .str__info {
    max-height: 100rem;
    transform: translateY(0);
}

/* ====================[7]==================== */
/* ===== MEDIA QUERIES ===== */

/* 720 PX */
@media (min-width: 45em) {

    /* BODY */
    body {
        margin: 0 4rem;
    }

    /* HOME PAGE */

    body.home {
        text-align: left;
    }

    .btn-cta {
        justify-content: flex-start;
        margin: 0.5rem 0;
    }

    .verse__cta {
        margin: 0;
    }

    /* ABOUT ME */

    section.am {
        padding: 5.25rem 4rem 3.5rem;
    }

    /* ABOUT ME
    * MISSION STATEMENT */
    p.ms {
        max-width: 40ch;
    }

    /* ABOUT ME
    * PREVIOUS WORK */

    .slide__cta {
        max-width: 22.175rem;
        padding-top: 31rem;
    }

    iframe {
        max-height: 31rem;
    }
}

/* 1024 PX */
@media (min-width: 64em) {

    /* BODY */
    body {
        margin: 0 10rem;
    }

    /* HOME PAGE */
    /* BUTTONS */
    .btn {
        cursor: pointer;
        border-color: var(--clr-accent-green);
        color: var(--clr-accent-gray);
        box-shadow: none;
        background: transparent;
        transition: box-shadow 500ms ease,
                    color 500ms ease,
                    background-color 500ms ease;
    }

    .btn:is(:hover, :focus) {
        color: var(--clr-neutral-tan);
        background-color: var(--clr-accent-green);
        box-shadow: 6px 6px var(--clr-accent-gray);
    }

    .verse__cta {
        margin: 0.5rem 0 0;
    }

    /* ABOUT ME */
    
    section.am {
        padding: 5.25rem 10rem 5.5rem;
    }

    .ms__accent {
        display: grid;
    }

    /* ABOUT ME
    * ABSOLUTE TAG */
    .tag,
    .tag1 {
        max-width: 20rem;
    }

    /* ABOUT ME
    * MISSION STATEMENT */
    div.ms {
        margin-top: 3rem;
        gap: 4rem;
    }

    /* ABOUT ME
    * STRENGTHS */

    .str__pos p {
        font-size: 1.75rem;
    }


}

/* 1200 PX */
@media (min-width: 75em) {

    .str {
        gap: 3rem;
        margin-top: 4.5rem;
    }

    .str__cat > div:first-of-type {
        padding: 0.5rem 1rem;
        gap: 2rem;
    }

    .arrow,
    input[type="checkbox"] {
        top: 1.25rem;
    }

    .str__info {
        padding: 1.5rem 1.15rem;
    }

        /* ABOUT ME
     * PREVIOUS WORKS */

     .plans {
        flex-wrap: nowrap;
        gap: 5rem;
    }

}

/* ====================[8]==================== */

/* ====================[9]==================== */

/* ====================[10]==================== */
